<h1>Dados Sobre Tratamento de Água</h1>
<br>
Projeto criado para a disciplina de IA

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [2]:
#Leitura do Dataset
dados = pd.read_csv('Drinks.csv', sep=',')

In [3]:
#Renomeando as colunas
dados.columns = ['País', 'Cervejas', 'Whisky', 'Vinhos', 'Total de Litros de Alcool Puro']

In [4]:
#Resumo das informações das colunas
dados.describe()

         Cervejas      Whisky      Vinhos  Total de Litros de Alcool Puro
count  193.000000  193.000000  193.000000                      193.000000
mean   106.160622   80.994819   49.450777                        4.717098
std    101.143103   88.284312   79.697598                        3.773298
min      0.000000    0.000000    0.000000                        0.000000
25%     20.000000    4.000000    1.000000                        1.300000
50%     76.000000   56.000000    8.000000                        4.200000
75%    188.000000  128.000000   59.000000                        7.200000
max    376.000000  438.000000  370.000000                       14.400000

In [5]:
#Tipos das colunas
dados.dtypes

País                               object
Cervejas                            int64
Whisky                              int64
Vinhos                              int64
Total de Litros de Alcool Puro    float64
dtype: object

In [6]:
#Leitura dos 100 primeiros registros ordenados por País
dados.head(100).sort_values('País', ascending=True)

           País  Cervejas  Whisky  Vinhos  Total de Litros de Alcool Puro
0   Afghanistan         0       0       0                             0.0
1       Albania        89     132      54                             4.9
2       Algeria        25       0      14                             0.7
3       Andorra       245     138     312                            12.4
4        Angola       217      57      45                             5.9
..          ...       ...     ...     ...                             ...
96      Liberia        19     152       2                             3.1
97        Libya         0       0       0                             0.0
98    Lithuania       343     244      56                            12.9
99   Luxembourg       236     133     271                            11.4
46  North Korea         0       0       0                             0.0

[100 rows x 5 columns]

In [7]:
#Quantidade de linhas e colunas
dados.shape

(193, 5)

In [8]:
#Quantidades por País
dados['País'].value_counts()

Uruguay           1
Ghana             1
Italy             1
Oman              1
United Kingdom    1
                 ..
Afghanistan       1
USA               1
Timor-Leste       1
Kuwait            1
Algeria           1
Name: País, Length: 193, dtype: int64

In [ ]:
pais_mais_cerveja = dados[['País', 'Cervejas']].head(25).set_index('País').sort_values('Cervejas', ascending=True)
pais_mais_cerveja.plot(kind='barh', figsize=(11,7), grid=False, color='darkred', legend=False)

plt.title('Países que mais consomem Cerveja no mundo')
plt.xlabel('Cervejas Servidas')
plt.show()

In [ ]:
pais_mais_cerveja = dados[['País', 'Whisky']].head(25).set_index('País').sort_values('Whisky', ascending=True)
pais_mais_cerveja.plot(kind='barh', figsize=(11,7), grid=False, color='darkred', legend=False)

plt.title('Países que mais consomem Whisky no mundo')
plt.xlabel('Whisky Servidos')
plt.show()

In [ ]:
pais_mais_cerveja = dados[['País', 'Vinhos']].head(25).set_index('País').sort_values('Vinhos', ascending=True)
pais_mais_cerveja.plot(kind='barh', figsize=(11,7), grid=False, color='darkred', legend=False)

plt.title('Países que mais consomem Vinho no mundo')
plt.xlabel('Vinhos Servidos')
plt.show()

In [ ]:
pais_mais_cerveja = dados[['País', 'Total de Litros de Alcool Puro']].head(25).set_index('País').sort_values('Total de Litros de Alcool Puro', ascending=True)
pais_mais_cerveja.plot(kind='barh', figsize=(11,7), grid=False, color='darkred', legend=False)

plt.title('Países x Litros de Álcool')
plt.xlabel('Total Litros de Álcool')
plt.show()